/*COLOR SCHEME
Teal: #007D7B
White: #FFF;
Black: #000;
**/
html {
    box-sizing: border-box;
    background-color: #000;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 1.25;
    width: 1310px;
    margin: 0 auto;
}
h1 {
    color: #007D7B;
    float: left;
    margin-left: 30px;
    font-size: 40px;
}
h2 {
    font-size: 40px;
}
nav h2 {
    display: none;
}
ul {
    list-style: none;
    float: right;
}
ul li {
    display: inline-block;
    font-size: 20px;
    padding-top: 20px;
    padding-right: 5px;
}
a {
    text-decoration: none;
    color: #FFF;
    padding: 50px;
}
a:hover {
    color: #007D7B;
}
p {
    text-transform: none;
    font-size: 20px;
}
em {
    font-style: normal;
}
figure {
    width: 420px;
    height: 281px;
    display: inline-block;
    margin: -12px 4px;
    font-size: 16px;
}
form {
    width: 850px;
    margin: 0 auto;
    font-size: 16px;
}
label {
    font-size: 16px;
}
input {
    width: 850px;
    color: #007D7B;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin: 7px auto;
    padding: 5px;
}
button {
    background-color: #007D7B;
    color: #FFF;
    width: 420px;
    border-radius: 10px;
    margin-top: .5px;
    margin-bottom: 15px;
    text-transform: uppercase;
    padding: 7px;
}
footer {
    text-align: center;
    background-color: #000;
    color: #FFF;
    font-size: 16px;
    margin-top: -20px;
    padding: 16px;
}
#main_header {
    overflow: hidden;
    background-color: #000;
}
[href="#top"] {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #007D7B;
    color: #FFF;
    padding: 0 15px;
    text-align: center;
}
[href="#top"]:hover {
    background-color: #FFF;
    color: #007D7B;
}
#about img {
    float: left;
    width: 850px;
    height: auto;
    margin-left: 15px;
    margin-top: 14px;
}
#about h2 {
    margin-top: 10px;
    margin-bottom: -14px;
}
#about_text {
    float: right;
    width: 420px;
    text-align: right;
    float: right;
    margin-right: 25px;
    margin-top: 0;
}
#gallery {
    clear: both; 
    margin-left: 8px;
}
#gallery header {
    margin-left: 10px;
}
#gallery h2 {
    margin-bottom: -15px;
}
#gallery p {
    padding-bottom: 5px;
}
.white_caption {
    color: #FFF;
}
.upper_left {
    position: relative;
    bottom: 280px;
    left: 8px;
}
.lower_left {
    position: relative;
    bottom: 40px;
    left: 10px;
}
.lower_right {
    text-align: right;
    position: relative;
    bottom: 40px;
    right: 25px;
}
/*Iran's caption position*/
figure:nth-child(5) figcaption {
    position: relative;
    bottom: 630px;
    left: 8px;
}
/*Moab's adjustment to left*/
figure:nth-child(8) figcaption {
    position: relative;
    right: 45px;
}
#contact {
    clear: both;
    background-color: #000;
    color: #FFF;
}
#contact header {
    text-align: center;
    margin-bottom: -15px;
}
#contact h2 {
    margin-top: -13px;
    margin-bottom: -18px;
    padding-top: 8px;
}
#button_container {
    text-align: center;
}